@import url('https://fonts.googleapis.com/css?family=Cabin');
* { 
    
    background-color: rgb(0, 195, 255);
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    text-align: center
}
.container {
    background-color: rgb(0, 225, 285);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding: 60px;
    }
 
a {
    background-color: rgb(0, 225, 285);
}

h1, h2{
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  

}